<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/register.css">
    <title>imgs</title>
</head>
<body>


<!-- form -->
<form action="/register" method="POST" id="register">
    <label>First Name</label><input class="input-group" type="text" name="firstName" placeholder="First name" id="firstName">
    <label>Last Name</label><input class="input-group" type="text" name="lastName" placeholder="Last name" id="lastName">
    <label>Username</label><input class="input-group" type="text" name="username" placeholder="Pick a username" id="username">
    <label>Password</label><input class="input-group" type="password" name="password" placeholder="Choose a strong password" id="password">
    <label>Email</label><input class="input-group" type="email" name="email" placeholder="Enter a valid email address" id="email">
    <label>Admin Code</label><input class="input-group" type="text" name="adminCode" placeholder="Enter if you have been given an admin code" id="email">
    <button class="btn btn-md btn-primary submit-register">Sign up!</button>
</form>



<!-- scripts  -->
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>